---
subtitle: Accessories
layout: category-page
---

<div class="card-header">
  <div class="col"><b>Accessories</b></div>
</div>

<div class="card-body">
  <details open>
    <summary><b>Show/hide</b></summary>
    <table class="table">
      {% include category-page/accessory-category-table-head.html %}
      <tbody>
      {% include category-page/accessory-category-row.html name="Inkdrop Locket" rarity="Blue" internal_name="DropletLocket" image_uri="General/DropletLocket" %}
      {% include category-page/accessory-category-row.html name="Gold Hi-Horses" rarity="Blue" internal_name="GoldHiHorses" image_uri="General/GoldHiHorses" %}
      {% include category-page/accessory-category-row.html name="Order Emblem" rarity="Blue" internal_name="OrderEmblem" image_uri="General/OrderEmblem" %}
      {% include category-page/accessory-category-row.html name="Enchanted Ink Tank" rarity="Blue" internal_name="EnchantedInkTank" image_uri="InkTanks/EnchantedInkTank" %}
      {% include category-page/accessory-category-row.html name="Ink Tank" rarity="Blue" internal_name="InkTank" image_uri="InkTanks/InkTank" %}
      {% include category-page/accessory-category-row.html name="Emblem of the Starfish" rarity="Blue" internal_name="SpinEmblem" image_uri="RushAttacks/SpinEmblem" %}
      {% include category-page/accessory-category-row.html name="Emblem of the Urchin" rarity="Blue" internal_name="UrchinEmblem" image_uri="RushAttacks/UrchinEmblem" %}
      {% include category-page/accessory-category-row.html name="Floral Ink Tank" rarity="Green" internal_name="FlowerInkTank" image_uri="InkTanks/FlowerInkTank" %}
      {% include category-page/accessory-category-row.html name="Bumble Ink Tank" rarity="Green" internal_name="HoneyInkTank" image_uri="InkTanks/HoneyInkTank" %}
      {% include category-page/accessory-category-row.html name="Smoll Palette" rarity="Green" internal_name="ChipPalette" image_uri="Palettes/ChipPalette" %}
      {% include category-page/accessory-category-row.html name="Ink Saver Emblem (Main)" rarity="Orange" internal_name="MainSaverEmblem" image_uri="Emblems/MainSaverEmblem" %}
      {% include category-page/accessory-category-row.html name="Special Charge Emblem" rarity="Orange" internal_name="SpecialChargeEmblem" image_uri="Emblems/SpecialChargeEmblem" %}
      {% include category-page/accessory-category-row.html name="Special Power Emblem" rarity="Orange" internal_name="SpecialPowerEmblem" image_uri="Emblems/SpecialPowerEmblem" %}
      {% include category-page/accessory-category-row.html name="Sub Power Emblem" rarity="Orange" internal_name="SubPowerEmblem" image_uri="Emblems/SubPowerEmblem" %}
      {% include category-page/accessory-category-row.html name="Ink Saver Emblem (Sub)" rarity="Orange" internal_name="SubSaverEmblem" image_uri="Emblems/SubSaverEmblem" %}
      {% include category-page/accessory-category-row.html name="Enchanted Locket" rarity="Orange" internal_name="SorcererLocket" image_uri="General/SorcererLocket" %}
      {% include category-page/accessory-category-row.html name="Last-Ditch Effort Emblem" rarity="Light Red" internal_name="LastDitchEffortEmblem" image_uri="Emblems/LastDitchEffortEmblem" %}
      {% include category-page/accessory-category-row.html name="Cloak of the Inner Agent" rarity="Pink" internal_name="AgentCloak" image_uri="Emblems/AgentCloak" %}
      {% include category-page/accessory-category-row.html name="Ink Thrifting Emblem" rarity="Pink" internal_name="SuperSaverEmblem" image_uri="Emblems/SuperSaverEmblem" %}
      {% include category-page/accessory-category-row.html name="Charged Battery" rarity="Pink" internal_name="ChargedBattery" image_uri="General/ChargedBattery" %}
      {% include category-page/accessory-category-row.html name="Eye Laser Add-On" rarity="Pink" internal_name="LaserAddon" image_uri="General/LaserAddon" %}
      {% include category-page/accessory-category-row.html name="Punching Glove" rarity="Pink" internal_name="PunchingGlove" image_uri="General/PunchingGlove" %}
      {% include category-page/accessory-category-row.html name="Adamantite Coil" rarity="Pink" internal_name="AdamantiteCoil" image_uri="MainWeaponBoosters/AdamantiteCoil" %}
      {% include category-page/accessory-category-row.html name="Crayon Box" rarity="Pink" internal_name="CrayonBox" image_uri="MainWeaponBoosters/CrayonBox" %}
      {% include category-page/accessory-category-row.html name="Flamin' Spray Can" rarity="Pink" internal_name="FieryPaintCan" image_uri="MainWeaponBoosters/FieryPaintCan" %}
      {% include category-page/accessory-category-row.html name="Fresh Quiver" rarity="Pink" internal_name="FreshQuiver" image_uri="MainWeaponBoosters/FreshQuiver" %}
      {% include category-page/accessory-category-row.html name="Marinated Necklace" rarity="Pink" internal_name="MarinatedNecklace" image_uri="MainWeaponBoosters/MarinatedNecklace" %}
      {% include category-page/accessory-category-row.html name="Pink Sponge" rarity="Pink" internal_name="PinkSponge" image_uri="MainWeaponBoosters/PinkSponge" %}
      {% include category-page/accessory-category-row.html name="Squid Clip Ons" rarity="Pink" internal_name="SquidClipOns" image_uri="MainWeaponBoosters/SquidClipOns" %}
      {% include category-page/accessory-category-row.html name="Tentacular Oculus" rarity="Pink" internal_name="TentacularOcular" image_uri="MainWeaponBoosters/TentacularOcular" %}
      {% include category-page/accessory-category-row.html name="Big Man's Palette" rarity="Pink" internal_name="BigManPalette" image_uri="Palettes/BigManPalette" %}
      {% include category-page/accessory-category-row.html name="Callie's Palette" rarity="Pink" internal_name="CalliePalette" image_uri="Palettes/CalliePalette" %}
      {% include category-page/accessory-category-row.html name="Eight's Palette" rarity="Pink" internal_name="EightPalette" image_uri="Palettes/EightPalette" %}
      {% include category-page/accessory-category-row.html name="Frye's Palette" rarity="Pink" internal_name="FryePalette" image_uri="Palettes/FryePalette" %}
      {% include category-page/accessory-category-row.html name="Marie's Palette" rarity="Pink" internal_name="MariePalette" image_uri="Palettes/MariePalette" %}
      {% include category-page/accessory-category-row.html name="Marina's Palette" rarity="Pink" internal_name="MarinaPalette" image_uri="Palettes/MarinaPalette" %}
      {% include category-page/accessory-category-row.html name="Murch's Palette" rarity="Pink" internal_name="MurchPalette" image_uri="Palettes/MurchPalette" %}
      {% include category-page/accessory-category-row.html name="DJ Octavio's Palette" rarity="Pink" internal_name="OctavioPalette" image_uri="Palettes/OctavioPalette" %}
      {% include category-page/accessory-category-row.html name="Pearl's Palette" rarity="Pink" internal_name="PearlPalette" image_uri="Palettes/PearlPalette" %}
      {% include category-page/accessory-category-row.html name="Sheldon's Palette" rarity="Pink" internal_name="SheldonPalette" image_uri="Palettes/SheldonPalette" %}
      {% include category-page/accessory-category-row.html name="Shiver's Palette" rarity="Pink" internal_name="ShiverPalette" image_uri="Palettes/ShiverPalette" %}
      {% include category-page/accessory-category-row.html name="Hero Cloak" rarity="Light Purple" internal_name="SquidbeakCloak" image_uri="Emblems/SquidbeakCloak" %}
      {% include category-page/accessory-category-row.html name="Callie's Hypnoshades" rarity="Light Purple" internal_name="HypnoShades" image_uri="General/HypnoShades" %}
      {% include category-page/accessory-category-row.html name="Chromatic Ink Tank" rarity="Lime" internal_name="EmpressInkTank" image_uri="InkTanks/EmpressInkTank" %}
      {% include category-page/accessory-category-row.html name="Digital Palette" rarity="Yellow" internal_name="SuperPalette" image_uri="Palettes/SuperPalette" %}
      </tbody>
    </table>
  </details>
</div>