---
subtitle: Blasters
layout: category-page
---

<div class="card-header">
  <div class="col"><b>Blasters</b></div>
</div>

<div class="card-body">
  <details open>
    <summary><b>Show/hide</b></summary>
    <table class="table">
      {% include category-page/weapon-category-table-head.html %}
      <tbody>
      {% include category-page/weapon-category-row.html name="Order Blaster" damage="24" knockback="3" ink_usage="8" rarity="Blue" internal_name="OrderBlaster" image_uri="Blasters/OrderBlaster" %}
      {% include category-page/weapon-category-row.html name="Rapid Blaster" damage="24" knockback="3" ink_usage="6.5" rarity="Green" internal_name="RapidBlaster" image_uri="Blasters/RapidBlaster" %}
      {% include category-page/weapon-category-row.html name="Blaster" damage="40" knockback="4" ink_usage="8" rarity="Green" internal_name="Blaster" image_uri="Blasters/Blaster" %}
      {% include category-page/weapon-category-row.html name="Clash Blaster" damage="24" knockback="8" ink_usage="3.5" rarity="Orange" internal_name="ClashBlaster" image_uri="Blasters/ClashBlaster" %}
      {% include category-page/weapon-category-row.html name="Purified Blaster" damage="24" knockback="3" ink_usage="0" rarity="Orange" internal_name="ShimmerOrderBlaster" image_uri="Blasters/ShimmerOrderBlaster" %}
      {% include category-page/weapon-category-row.html name="Clash Blaster Neo" damage="68" knockback="8" ink_usage="3.5" rarity="Light Purple" internal_name="ClashBlasterNeo" image_uri="Blasters/ClashBlasterNeo" %}
      {% include category-page/weapon-category-row.html name="Rapid Blaster Deco" damage="90" knockback="3" ink_usage="6.5" rarity="Light Purple" internal_name="RapidBlasterDeco" image_uri="Blasters/RapidBlasterDeco" %}
      {% include category-page/weapon-category-row.html name="Luna Blaster" damage="120" knockback="6" ink_usage="6.5" rarity="Light Purple" internal_name="LunaBlaster" image_uri="Blasters/LunaBlaster" %}
      {% include category-page/weapon-category-row.html name="Range Blaster" damage="160" knockback="6" ink_usage="8" rarity="Light Purple" internal_name="RangeBlaster" image_uri="Blasters/RangeBlaster" %}
      {% include category-page/weapon-category-row.html name="S-BLAST '92" damage="160" knockback="7" ink_usage="10" rarity="Light Purple" internal_name="SBlast92" image_uri="Blasters/SBlast92" %}
      {% include category-page/weapon-category-row.html name="Kensa Rapid Blaster" damage="110" knockback="3" ink_usage="6.5" rarity="Lime" internal_name="KensaRapidBlaster" image_uri="Blasters/KensaRapidBlaster" %}
      {% include category-page/weapon-category-row.html name="Kensa Luna Blaster" damage="150" knockback="6" ink_usage="6.5" rarity="Lime" internal_name="KensaLunaBlaster" image_uri="Blasters/KensaLunaBlaster" %}
      {% include category-page/weapon-category-row.html name="S-BLAST '91" damage="200" knockback="7" ink_usage="10" rarity="Lime" internal_name="SBlast91" image_uri="Blasters/SBlast91" %}
      {% include category-page/weapon-category-row.html name="Grim Range Blaster" damage="220" knockback="6" ink_usage="8" rarity="Lime" internal_name="GrimRangeBlaster" image_uri="Blasters/GrimRangeBlaster" %}
      </tbody>
    </table>
  </details>
</div>