---
subtitle: Stringers
layout: category-page
---

<div class="card-header">
  <div class="col"><b>Stringers</b></div>
</div>

<div class="card-body">
  <details open>
    <summary><b>Show/hide</b></summary>
    <table class="table">
      {% include category-page/category-table-head.html %}
      <tbody>
      {% include category-page/category-row.html name="Order Stringer" damage="14" knockback="2" ink_usage="15" rarity="Blue" internal_name="OrderStringer" image_uri="Bows/OrderStringer" %}
      {% include category-page/category-row.html name="REEF-LUX 450" damage="18" knockback="1.5" ink_usage="7" rarity="Green" internal_name="ReefluxStringer" image_uri="Bows/ReefluxStringer" %}
      {% include category-page/category-row.html name="Tri-Stringer" damage="28" knockback="3" ink_usage="15" rarity="Green" internal_name="TriStringer" image_uri="Bows/TriStringer" %}
      {% include category-page/category-row.html name="Coral Harp" damage="20" knockback="6" ink_usage="20" rarity="Light Red" internal_name="CoralStringer" image_uri="Bows/CoralStringer" %}
      {% include category-page/category-row.html name="REEF-LUX 450 Deco" damage="50" knockback="4" ink_usage="7" rarity="Pink" internal_name="ReefluxDecoStringer" image_uri="Bows/ReefluxDecoStringer" %}
      {% include category-page/category-row.html name="Inkline Tri-Stringer" damage="80" knockback="6" ink_usage="15" rarity="Pink" internal_name="TriStringerInkline" image_uri="Bows/TriStringerInkline" %}
      {% include category-page/category-row.html name="Coral Song" damage="50" knockback="6" ink_usage="10" rarity="Light Purple" internal_name="CoralStringerB" image_uri="Bows/CoralStringerB" %}
      {% include category-page/category-row.html name="Wellstring V" damage="110" knockback="6" ink_usage="15" rarity="Light Purple" internal_name="Wellstring" image_uri="Bows/Wellstring" %}
      {% include category-page/category-row.html name="Grizzco Stringer" damage="80" knockback="4" ink_usage="20" rarity="Lime" internal_name="GrizzcoStringer" image_uri="Bows/GrizzcoStringer" %}
      {% include category-page/category-row.html name="Kensa REEF-LUX 450" damage="80" knockback="5" ink_usage="7" rarity="Lime" internal_name="KensaReefluxStringer" image_uri="Bows/KensaReefluxStringer" %}
      {% include category-page/category-row.html name="Custom Wellstring V" damage="150" knockback="6" ink_usage="15" rarity="Lime" internal_name="CustomWellstring" image_uri="Bows/CustomWellstring" %}
      {% include category-page/category-row.html name="Shivering Stringer" damage="200" knockback="8" ink_usage="20" rarity="Yellow" internal_name="IceStringer" image_uri="Bows/IceStringer" %}
      {% include category-page/category-row.html name="Star-Touched Stringer" damage="220" knockback="3" ink_usage="15" rarity="Cyan" internal_name="NebulaStringer" image_uri="Bows/NebulaStringer" %}
      </tbody>
    </table>
  </details>
</div>