---
subtitle: Brellas
layout: category-page
---

<div class="card-header">
  <div class="col"><b>Brellas</b></div>
</div>

<div class="card-body">
  <details open>
    <summary><b>Show/hide</b></summary>
    <table class="table">
      {% include category-page/category-table-head.html %}
      <tbody>
      {% include category-page/category-row.html name="Order Brella" damage="7" knockback="1" ink_usage="5" rarity="Blue" internal_name="OrderBrella" image_uri="Brellas/OrderBrella" %}
      {% include category-page/category-row.html name="Splat Brella" damage="12" knockback="2" ink_usage="5" rarity="Green" internal_name="SplatBrella" image_uri="Brellas/SplatBrella" %}
      {% include category-page/category-row.html name="Plague Brella" damage="5" knockback="9" ink_usage="6.5" rarity="Light Red" internal_name="CorruptionBrella" image_uri="Brellas/CorruptionBrella" %}
      {% include category-page/category-row.html name="Undercover Brella" damage="22" knockback="2" ink_usage="5" rarity="Pink" internal_name="UndercoverBrella" image_uri="Brellas/UndercoverBrella" %}
      {% include category-page/category-row.html name="Recycled Brella 24 Mk I" damage="24" knockback="4" ink_usage="5" rarity="Pink" internal_name="RecycleBrella" image_uri="Brellas/RecycleBrella" %}
      {% include category-page/category-row.html name="Sorella Splat Brella" damage="24" knockback="3" ink_usage="5" rarity="Pink" internal_name="SorellaSplatBrella" image_uri="Brellas/SorellaSplatBrella" %}
      {% include category-page/category-row.html name="Wither Brella" damage="40" knockback="9" ink_usage="6.5" rarity="Light Purple" internal_name="CorruptionBrellaB" image_uri="Brellas/CorruptionBrellaB" %}
      {% include category-page/category-row.html name="Kensa Undercover Brella" damage="38" knockback="3" ink_usage="5" rarity="Lime" internal_name="KensaUndercoverBrella" image_uri="Brellas/KensaUndercoverBrella" %}
      {% include category-page/category-row.html name="Recycled Brella 24 Mk II" damage="52" knockback="4" ink_usage="5" rarity="Lime" internal_name="RecycleBrellaMk2" image_uri="Brellas/RecycleBrellaMk2" %}
      {% include category-page/category-row.html name="Spark Brella" damage="46" knockback="6" ink_usage="5" rarity="Yellow" internal_name="MartianBrella" image_uri="Brellas/MartianBrella" %}
      </tbody>
    </table>
  </details>
</div>