---
subtitle: Brushes
layout: category-page
---

<div class="card-header">
  <div class="col"><b>Brushes</b></div>
</div>

<div class="card-body">
  <details open>
    <summary><b>Show/hide</b></summary>
    <table class="table">
      {% include category-page/category-table-head.html %}
      <tbody>
      {% include category-page/category-row.html name="Order Brush" damage="8" knockback="1" ink_usage="1" rarity="Blue" internal_name="OrderBrush" image_uri="Brushes/OrderBrush" %}
      {% include category-page/category-row.html name="Inkbrush" damage="6" knockback="4" ink_usage="1" rarity="Green" internal_name="Inkbrush" image_uri="Brushes/Inkbrush" %}
      {% include category-page/category-row.html name="Octobrush" damage="14" knockback="5" ink_usage="2" rarity="Green" internal_name="Octobrush" image_uri="Brushes/Octobrush" %}
      {% include category-page/category-row.html name="Purified Brush" damage="8" knockback="1" ink_usage="0" rarity="Orange" internal_name="ShimmerOrderBrush" image_uri="Brushes/ShimmerOrderBrush" %}
      {% include category-page/category-row.html name="Dune Stainer" damage="12" knockback="5" ink_usage="4" rarity="Orange" internal_name="DesertBrush" image_uri="Brushes/DesertBrush" %}
      {% include category-page/category-row.html name="Inkbrush Nouveau" damage="16" knockback="5" ink_usage="1" rarity="Pink" internal_name="InkbrushNouveau" image_uri="Brushes/InkbrushNouveau" %}
      {% include category-page/category-row.html name="Octobrush Nouveau" damage="26" knockback="6" ink_usage="2" rarity="Pink" internal_name="OctobrushNouveau" image_uri="Brushes/OctobrushNouveau" %}
      {% include category-page/category-row.html name="Painbrush" damage="44" knockback="8" ink_usage="4" rarity="Light Purple" internal_name="PainBrush" image_uri="Brushes/PainBrush" %}
      {% include category-page/category-row.html name="Kensa Octobrush" damage="40" knockback="7" ink_usage="2" rarity="Lime" internal_name="KensaOctobrush" image_uri="Brushes/KensaOctobrush" %}
      {% include category-page/category-row.html name="Painbrush Nouveau" damage="64" knockback="8" ink_usage="4" rarity="Lime" internal_name="PainBrushNouveau" image_uri="Brushes/PainBrushNouveau" %}
      {% include category-page/category-row.html name="Hexing Broom" damage="80" knockback="6" ink_usage="3" rarity="Lime" internal_name="SpookyBrush" image_uri="Brushes/SpookyBrush" %}
      </tbody>
    </table>
  </details>
</div>