---
layout: category-page
---

<div class="card-header">
  <div class="col"><b>Chargers</b></div>
</div>

<div class="card-body">
  <details open>
    <summary><b>Show/hide</b></summary>
    <table class="table">
      {% include category-page/category-table-head.html %}
      <tbody>
      {% include category-page/category-row.html name="Order Charger" damage="28" knockback="4" ink_usage="20" rarity="Blue" internal_name="OrderCharger" image_uri="Chargers/OrderCharger" %}
      {% include category-page/category-row.html name="Bamboozler 14 Mk I" damage="20" knockback="4" ink_usage="10" rarity="Orange" internal_name="BambooMk1Charger" image_uri="Chargers/BambooMk1Charger" %}
      {% include category-page/category-row.html name="Classic Squiffer" damage="48" knockback="5" ink_usage="15" rarity="Orange" internal_name="ClassicSquiffer" image_uri="Chargers/ClassicSquiffer" %}
      {% include category-page/category-row.html name="Splat Charger" damage="52" knockback="5" ink_usage="20" rarity="Orange" internal_name="SplatCharger" image_uri="Chargers/SplatCharger" %}
      {% include category-page/category-row.html name="E-liter 4K" damage="100" knockback="6" ink_usage="24" rarity="Light Red" internal_name="EliterCharger" image_uri="Chargers/EliterCharger" %}
      {% include category-page/category-row.html name="Fresh Squiffer" damage="120" knockback="5" ink_usage="15" rarity="Pink" internal_name="FreshSquiffer" image_uri="Chargers/FreshSquiffer" %}
      {% include category-page/category-row.html name="Z+F Splat Charger" damage="160" knockback="5" ink_usage="20" rarity="Pink" internal_name="ZFSplatCharger" image_uri="Chargers/ZFSplatCharger" %}
      {% include category-page/category-row.html name="Bamboozler 14 Mk II" damage="100" knockback="4" ink_usage="10" rarity="Light Purple" internal_name="BambooMk2Charger" image_uri="Chargers/BambooMk2Charger" %}
      {% include category-page/category-row.html name="Custom E-liter 4K" damage="300" knockback="8" ink_usage="24" rarity="Light Purple" internal_name="CustomEliterCharger" image_uri="Chargers/CustomEliterCharger" %}
      {% include category-page/category-row.html name="Kensa Splat Charger" damage="240" knockback="6" ink_usage="20" rarity="Lime" internal_name="KensaSplatCharger" image_uri="Chargers/KensaSplatCharger" %}
      {% include category-page/category-row.html name="Starfish Sniper" damage="120" knockback="5" ink_usage="20" rarity="Yellow" internal_name="StarfishedCharger" image_uri="Chargers/StarfishedCharger" %}
      </tbody>
    </table>
  </details>
</div>