---
subtitle: Dualies
layout: category-page
---

<div class="card-header">
  <div class="col"><b>Dualies</b></div>
</div>

<div class="card-body">
  <details open>
    <summary><b>Show/hide</b></summary>
    <table class="table">
      {% include category-page/weapon-category-table-head.html %}
      <tbody>
      {% include category-page/weapon-category-row.html name="Order Dualies" damage="6" knockback="0.5" ink_usage="0.7" rarity="Blue" internal_name="OrderDualie" image_uri="Dualies/OrderDualie" %}
      {% include category-page/weapon-category-row.html name="Paintball Dualies" damage="8" knockback="1" ink_usage="2" rarity="Green" internal_name="PainterDualie" image_uri="Dualies/PainterDualie" %}
      {% include category-page/weapon-category-row.html name="Purified Dualies" damage="6" knockback="0.5" ink_usage="0" rarity="Orange" internal_name="ShimmerOrderDualie" image_uri="Dualies/ShimmerOrderDualie" %}
      {% include category-page/weapon-category-row.html name="Dapple Dualies" damage="10" knockback="2" ink_usage="0.7" rarity="Orange" internal_name="DappleDualie" image_uri="Dualies/DappleDualie" %}
      {% include category-page/weapon-category-row.html name="Splat Dualies" damage="11" knockback="1" ink_usage="0.7" rarity="Orange" internal_name="SplatDualie" image_uri="Dualies/SplatDualie" %}
      {% include category-page/weapon-category-row.html name="Dark Tetra Dualies" damage="18" knockback="1" ink_usage="0.7" rarity="Pink" internal_name="DarkTetraDualie" image_uri="Dualies/DarkTetraDualie" %}
      {% include category-page/weapon-category-row.html name="Dapple Dualies Nouveau" damage="24" knockback="3" ink_usage="0.7" rarity="Pink" internal_name="DappleDualieNouveau" image_uri="Dualies/DappleDualieNouveau" %}
      {% include category-page/weapon-category-row.html name="Douser Dualies FF" damage="26" knockback="2" ink_usage="1.2" rarity="Light Purple" internal_name="DouserDualie" image_uri="Dualies/DouserDualie" %}
      {% include category-page/weapon-category-row.html name="Enperry Splat Dualies" damage="26" knockback="3" ink_usage="0.7" rarity="Light Purple" internal_name="EnperrySplatDualie" image_uri="Dualies/EnperrySplatDualie" %}
      {% include category-page/weapon-category-row.html name="Dualie Squelchers" damage="28" knockback="3" ink_usage="1.5" rarity="Light Purple" internal_name="DualieSquelcher" image_uri="Dualies/DualieSquelcher" %}
      {% include category-page/weapon-category-row.html name="Glooga Dualies" damage="34" knockback="4" ink_usage="2" rarity="Light Purple" internal_name="GloogaDualie" image_uri="Dualies/GloogaDualie" %}
      {% include category-page/weapon-category-row.html name="Grizzco Dualies" damage="32" knockback="2" ink_usage="0.7" rarity="Lime" internal_name="GrizzcoDualie" image_uri="Dualies/GrizzcoDualie" %}
      {% include category-page/weapon-category-row.html name="Light Tetra Dualies" damage="32" knockback="1" ink_usage="0.7" rarity="Lime" internal_name="LightTetraDualie" image_uri="Dualies/LightTetraDualie" %}
      {% include category-page/weapon-category-row.html name="Kensa Splat Dualies" damage="36" knockback="4" ink_usage="0.7" rarity="Lime" internal_name="KensaSplatDualie" image_uri="Dualies/KensaSplatDualie" %}
      {% include category-page/weapon-category-row.html name="Custom Douser Dualies FF" damage="38" knockback="2" ink_usage="1.2" rarity="Lime" internal_name="CustomDouserDualie" image_uri="Dualies/CustomDouserDualie" %}
      {% include category-page/weapon-category-row.html name="Kensa Glooga Dualies" damage="40" knockback="5" ink_usage="2" rarity="Lime" internal_name="KensaGloogaDualie" image_uri="Dualies/KensaGloogaDualie" %}
      {% include category-page/weapon-category-row.html name="Interstellar Dualies" damage="48" knockback="4" ink_usage="0.7" rarity="Cyan" internal_name="VortexDualie" image_uri="Dualies/VortexDualie" %}
      </tbody>
    </table>
  </details>
</div>