---
subtitle: Rollers
layout: category-page
---

<div class="card-header">
  <div class="col"><b>Rollers</b></div>
</div>

<div class="card-body">
  <details open>
    <summary><b>Show/hide</b></summary>
    <table class="table">
      {% include category-page/category-table-head.html %}
      <tbody>
      {% include category-page/category-row.html name="Order Roller" damage="14" knockback="4" ink_usage="6" rarity="Blue" internal_name="OrderRoller" image_uri="Rollers/OrderRoller" %}
      {% include category-page/category-row.html name="Carbon Roller" damage="35" knockback="3" ink_usage="4" rarity="Green" internal_name="CarbonRoller" image_uri="Rollers/CarbonRoller" %}
      {% include category-page/category-row.html name="Splat Roller" damage="28" knockback="5" ink_usage="6" rarity="Orange" internal_name="SplatRoller" image_uri="Rollers/SplatRoller" %}
      {% include category-page/category-row.html name="Dynamo Roller" damage="60" knockback="7" ink_usage="12" rarity="Light Red" internal_name="DynamoRoller" image_uri="Rollers/DynamoRoller" %}
      {% include category-page/category-row.html name="Carbon Roller Deco" damage="60" knockback="4" ink_usage="4" rarity="Pink" internal_name="CarbonRollerDeco" image_uri="Rollers/CarbonRollerDeco" %}
      {% include category-page/category-row.html name="Krak-On Splat Roller" damage="80" knockback="6" ink_usage="6" rarity="Pink" internal_name="KrakonSplatRoller" image_uri="Rollers/KrakonSplatRoller" %}
      {% include category-page/category-row.html name="Gold Dynamo Roller" damage="160" knockback="8" ink_usage="12" rarity="Light Purple" internal_name="GoldDynamoRoller" image_uri="Rollers/GoldDynamoRoller" %}
      {% include category-page/category-row.html name="Kensa Splat Roller" damage="140" knockback="6" ink_usage="6" rarity="Lime" internal_name="KensaSplatRoller" image_uri="Rollers/KensaSplatRoller" %}
      {% include category-page/category-row.html name="Kensa Dynamo Roller" damage="240" knockback="8" ink_usage="12" rarity="Lime" internal_name="KensaDynamoRoller" image_uri="Rollers/KensaDynamoRoller" %}
      </tbody>
    </table>
  </details>
</div>