---
subtitle: Shooters
layout: category-page
---

<div class="card-header">
  <div class="col"><b>Shooters</b></div>
</div>

<div class="card-body">
  <details open>
    <summary><b>Show/hide</b></summary>
    <table class="table">
      {% include category-page/category-table-head.html %}
      <tbody>
      {% include category-page/category-row.html name="Order Shot" damage="8" knockback="0" ink_usage="1" rarity="Blue" internal_name="OrderShot" image_uri="Shooters/OrderShot" %}
      {% include category-page/category-row.html name="Gloop Shot" damage="14" knockback="5" ink_usage="3" rarity="Blue" internal_name="SlimeSplattershot" image_uri="Shooters/SlimeSplattershot" %}
      {% include category-page/category-row.html name="Splattershot Jr." damage="6" knockback="0.5" ink_usage="0.7" rarity="Orange" internal_name="SplattershotJr" image_uri="Shooters/SplattershotJr" %}
      {% include category-page/category-row.html name="Purified Splattershot" damage="8" knockback="0" ink_usage="0" rarity="Orange" internal_name="ShimmerOrderShot" image_uri="Shooters/ShimmerOrderShot" %}
      {% include category-page/category-row.html name="Splattershot" damage="10" knockback="1" ink_usage="1" rarity="Orange" internal_name="Splattershot" image_uri="Shooters/Splattershot" %}
      {% include category-page/category-row.html name="Splattershot Pro" damage="16" knockback="3" ink_usage="2" rarity="Orange" internal_name="SplattershotPro" image_uri="Shooters/SplattershotPro" %}
      {% include category-page/category-row.html name="Custom Splattershot Jr." damage="12" knockback="3" ink_usage="0.7" rarity="Light Red" internal_name="CustomSplattershotJr" image_uri="Shooters/CustomSplattershotJr" %}
      {% include category-page/category-row.html name="Splash-O-Matic" damage="14" knockback="3" ink_usage="0.8" rarity="Light Red" internal_name="SplashOMatic" image_uri="Shooters/SplashOMatic" %}
      {% include category-page/category-row.html name="Sploosh-O-Matic" damage="18" knockback="5" ink_usage="0.8" rarity="Light Red" internal_name="SplooshOMatic" image_uri="Shooters/SplooshOMatic" %}
      {% include category-page/category-row.html name="Tentatek Splattershot" damage="24" knockback="3" ink_usage="1" rarity="Light Red" internal_name="TentatekSplattershot" image_uri="Shooters/TentatekSplattershot" %}
      {% include category-page/category-row.html name=".52 Gal" damage="52" knockback="6" ink_usage="2.5" rarity="Light Red" internal_name="Dot52Gal" image_uri="Shooters/Dot52Gal" %}
      {% include category-page/category-row.html name="L-3 Nozzlenose" damage="20" knockback="2" ink_usage="3" rarity="Light Purple" internal_name="L3Nozzlenose" image_uri="Shooters/L3Nozzlenose" %}
      {% include category-page/category-row.html name="H-3 Nozzlenose" damage="24" knockback="2" ink_usage="3" rarity="Light Purple" internal_name="H3Nozzlenose" image_uri="Shooters/H3Nozzlenose" %}
      {% include category-page/category-row.html name="Jet Squelcher" damage="28" knockback="3" ink_usage="1.5" rarity="Light Purple" internal_name="JetSquelcher" image_uri="Shooters/JetSquelcher" %}
      {% include category-page/category-row.html name="Ancient Splattershot" damage="32" knockback="4" ink_usage="1" rarity="Light Purple" internal_name="ClassicSplattershotS1" image_uri="Shooters/ClassicSplattershotS1" %}
      {% include category-page/category-row.html name="Vintage Splattershot" damage="32" knockback="4" ink_usage="1" rarity="Light Purple" internal_name="ClassicSplattershotS2" image_uri="Shooters/ClassicSplattershotS2" %}
      {% include category-page/category-row.html name="Octo Shot" damage="32" knockback="4" ink_usage="1" rarity="Light Purple" internal_name="OctoShot" image_uri="Shooters/OctoShot" %}
      {% include category-page/category-row.html name="Forge Splattershot Pro" damage="42" knockback="5" ink_usage="2" rarity="Light Purple" internal_name="ForgeSplattershotPro" image_uri="Shooters/ForgeSplattershotPro" %}
      {% include category-page/category-row.html name="Royal Gloop Shot" damage="64" knockback="5" ink_usage="6" rarity="Light Purple" internal_name="SlimeSplattershotB" image_uri="Shooters/SlimeSplattershotB" %}
      {% include category-page/category-row.html name=".96 Gal" damage="68" knockback="8" ink_usage="3.5" rarity="Light Purple" internal_name="Dot96Gal" image_uri="Shooters/Dot96Gal" %}
      {% include category-page/category-row.html name="Neo Splash-O-Matic" damage="32" knockback="3" ink_usage="0.8" rarity="Lime" internal_name="SplashOMaticNeo" image_uri="Shooters/SplashOMaticNeo" %}
      {% include category-page/category-row.html name="Kensa L3 Nozzlenose" damage="36" knockback="4" ink_usage="3" rarity="Lime" internal_name="KensaL3Nozzlenose" image_uri="Shooters/KensaL3Nozzlenose" %}
      {% include category-page/category-row.html name="Kensa Splattershot Jr." damage="36" knockback="4" ink_usage="0.7" rarity="Lime" internal_name="KensaSplattershotJr" image_uri="Shooters/KensaSplattershotJr" %}
      {% include category-page/category-row.html name="Neo Sploosh-O-Matic" damage="40" knockback="5" ink_usage="0.8" rarity="Lime" internal_name="SplooshOMaticNeo" image_uri="Shooters/SplooshOMaticNeo" %}
      {% include category-page/category-row.html name="Kensa .52 Gal" damage="52" knockback="7" ink_usage="2.5" rarity="Lime" internal_name="KensaDot52Gal" image_uri="Shooters/KensaDot52Gal" %}
      {% include category-page/category-row.html name="Squeezer" damage="56" knockback="6" ink_usage="3" rarity="Lime" internal_name="Squeezer" image_uri="Shooters/Squeezer" %}
      {% include category-page/category-row.html name="Hero Shot" damage="45" knockback="5" ink_usage="1" rarity="Yellow" internal_name="HeroShot" image_uri="Shooters/HeroShot" %}
      </tbody>
    </table>
  </details>
</div>