---
subtitle: Sloshers
layout: category-page
---

<div class="card-header">
  <div class="col"><b>Sloshers</b></div>
</div>

<div class="card-body">
  <details open>
    <summary><b>Show/hide</b></summary>
    <table class="table">
      {% include category-page/category-table-head.html %}
      <tbody>
      {% include category-page/category-row.html name="Slosher" damage="20" knockback="2" ink_usage="8" rarity="Orange" internal_name="Slosher" image_uri="Sloshers/Slosher" %}
      {% include category-page/category-row.html name="Tri-Slosher" damage="22" knockback="4" ink_usage="8" rarity="Orange" internal_name="TriSlosher" image_uri="Sloshers/TriSlosher" %}
      {% include category-page/category-row.html name="Slosher Deco" damage="70" knockback="4" ink_usage="8" rarity="Pink" internal_name="SlosherDeco" image_uri="Sloshers/SlosherDeco" %}
      {% include category-page/category-row.html name="Bloblobber" damage="40" knockback="3" ink_usage="8" rarity="Light Purple" internal_name="Bloblobber" image_uri="Sloshers/Bloblobber" %}
      {% include category-page/category-row.html name="Tri-Slosher Nouveau" damage="76" knockback="7" ink_usage="8" rarity="Light Purple" internal_name="TriSlosherNouveau" image_uri="Sloshers/TriSlosherNouveau" %}
      {% include category-page/category-row.html name="Bloblobber Deco" damage="58" knockback="3" ink_usage="8" rarity="Lime" internal_name="BloblobberDeco" image_uri="Sloshers/BloblobberDeco" %}
      {% include category-page/category-row.html name="Soda Slosher" damage="100" knockback="5" ink_usage="8" rarity="Lime" internal_name="SodaSlosher" image_uri="Sloshers/SodaSlosher" %}
      {% include category-page/category-row.html name="Explosher" damage="240" knockback="8" ink_usage="20" rarity="Lime" internal_name="Explosher" image_uri="Sloshers/Explosher" %}
      </tbody>
    </table>
  </details>
</div>