---
subtitle: Sloshers
layout: category-page
---

<div class="card-header">
  <div class="col"><b>Sloshers</b></div>
</div>

<div class="card-body">
  <details open>
    <summary><b>Show/hide</b></summary>
    <table class="table">
      {% include category-page/weapon-category-table-head.html %}
      <tbody>
      {% include category-page/weapon-category-row.html name="Order Slosher" damage="16" knockback="4" ink_usage="10" rarity="Blue" internal_name="OrderSlosher" image_uri="Sloshers/OrderSlosher" %}
      {% include category-page/weapon-category-row.html name="Purified Slosher" damage="16" knockback="4" ink_usage="0" rarity="Orange" internal_name="ShimmerOrderSlosher" image_uri="Sloshers/ShimmerOrderSlosher" %}
      {% include category-page/weapon-category-row.html name="Slosher" damage="20" knockback="6" ink_usage="7.5" rarity="Orange" internal_name="Slosher" image_uri="Sloshers/Slosher" %}
      {% include category-page/weapon-category-row.html name="Tri-Slosher" damage="22" knockback="5" ink_usage="6" rarity="Orange" internal_name="TriSlosher" image_uri="Sloshers/TriSlosher" %}
      {% include category-page/weapon-category-row.html name="Slosher Deco" damage="72" knockback="8" ink_usage="7.5" rarity="Pink" internal_name="SlosherDeco" image_uri="Sloshers/SlosherDeco" %}
      {% include category-page/weapon-category-row.html name="Bloblobber" damage="40" knockback="3" ink_usage="7.5" rarity="Light Purple" internal_name="Bloblobber" image_uri="Sloshers/Bloblobber" %}
      {% include category-page/weapon-category-row.html name="Dread Wringer" damage="48" knockback="6" ink_usage="9" rarity="Light Purple" internal_name="DreadWringer" image_uri="Sloshers/DreadWringer" %}
      {% include category-page/weapon-category-row.html name="Tri-Slosher Nouveau" damage="80" knockback="7" ink_usage="6" rarity="Light Purple" internal_name="TriSlosherNouveau" image_uri="Sloshers/TriSlosherNouveau" %}
      {% include category-page/weapon-category-row.html name="Bloblobber Deco" damage="58" knockback="3" ink_usage="7.5" rarity="Lime" internal_name="BloblobberDeco" image_uri="Sloshers/BloblobberDeco" %}
      {% include category-page/weapon-category-row.html name="Explosher" damage="240" knockback="8" ink_usage="20" rarity="Lime" internal_name="Explosher" image_uri="Sloshers/Explosher" %}
      </tbody>
    </table>
  </details>
</div>