---
layout: category-page
---

<div class="card-header">
  <div class="col"><b>Splatanas</b></div>
</div>

<div class="card-body">
  <details open>
    <summary><b>Show/hide</b></summary>
    <table class="table">
      {% include category-page/category-table-head.html %}
      <tbody>
      {% include category-page/category-row.html name="Splatana Wiper" damage="30" knockback="4" ink_usage="8" rarity="Orange" internal_name="SplatanaWiper" image_uri="Splatana/SplatanaWiper" %}
      {% include category-page/category-row.html name="Splatana Wiper Deco" damage="60" knockback="4" ink_usage="8" rarity="Pink" internal_name="SplatanaWiperDeco" image_uri="Splatana/SplatanaWiperDeco" %}
      {% include category-page/category-row.html name="Splatana Stamper" damage="100" knockback="5" ink_usage="12" rarity="Light Purple" internal_name="SplatanaStamper" image_uri="Splatana/SplatanaStamper" %}
      {% include category-page/category-row.html name="Kensa Splatana Stamper" damage="180" knockback="6" ink_usage="12" rarity="Lime" internal_name="KensaSplatanaStamper" image_uri="Splatana/KensaSplatanaStamper" %}
      {% include category-page/category-row.html name="Moray Claymore" damage="80" knockback="5" ink_usage="50" rarity="Yellow" internal_name="EelSplatanaWeapon" image_uri="Splatana/EelSplatanaWeapon" %}
      </tbody>
    </table>
  </details>
</div>