---
subtitle: Splatlings
layout: category-page
---

<div class="card-header">
  <div class="col"><b>Splatlings</b></div>
</div>

<div class="card-body">
  <details open>
    <summary><b>Show/hide</b></summary>
    <table class="table">
      {% include category-page/weapon-category-table-head.html %}
      <tbody>
      {% include category-page/weapon-category-row.html name="Order Splatling" damage="10" knockback="1" ink_usage="20" rarity="Blue" internal_name="OrderSplatling" image_uri="Splatling/OrderSplatling" %}
      {% include category-page/weapon-category-row.html name="Purified Splatling" damage="10" knockback="1" ink_usage="0" rarity="Green" internal_name="ShimmerOrderSplatling" image_uri="Splatling/ShimmerOrderSplatling" %}
      {% include category-page/weapon-category-row.html name="Mini Splatling" damage="11" knockback="1.5" ink_usage="15" rarity="Green" internal_name="MiniSplatling" image_uri="Splatling/MiniSplatling" %}
      {% include category-page/weapon-category-row.html name="Heavy Splatling" damage="16" knockback="3" ink_usage="20" rarity="Orange" internal_name="HeavySplatling" image_uri="Splatling/HeavySplatling" %}
      {% include category-page/weapon-category-row.html name="Zink Mini Splatling" damage="22" knockback="4" ink_usage="15" rarity="Orange" internal_name="ZinkMiniSplatling" image_uri="Splatling/ZinkMiniSplatling" %}
      {% include category-page/weapon-category-row.html name="Heavy Splatling Deco" damage="28" knockback="5" ink_usage="20" rarity="Light Red" internal_name="RoyalHeavySplatling" image_uri="Splatling/RoyalHeavySplatling" %}
      {% include category-page/weapon-category-row.html name="Snipewriter 5H" damage="100" knockback="6" ink_usage="24" rarity="Light Red" internal_name="Snipewriter5H" image_uri="Splatling/Snipewriter5H" %}
      {% include category-page/weapon-category-row.html name="Hydra Splatling" damage="40" knockback="6" ink_usage="32" rarity="Light Purple" internal_name="HydraSplatling" image_uri="Splatling/HydraSplatling" %}
      {% include category-page/weapon-category-row.html name="Kensa Mini Splatling" damage="46" knockback="5" ink_usage="15" rarity="Lime" internal_name="KensaMiniSplatling" image_uri="Splatling/KensaMiniSplatling" %}
      {% include category-page/weapon-category-row.html name="Custom Hydra Splatling" damage="58" knockback="6" ink_usage="32" rarity="Lime" internal_name="CustomHydraSplatling" image_uri="Splatling/CustomHydraSplatling" %}
      {% include category-page/weapon-category-row.html name="Snipewriter 5B" damage="160" knockback="6" ink_usage="24" rarity="Lime" internal_name="Snipewriter5B" image_uri="Splatling/Snipewriter5B" %}
      </tbody>
    </table>
  </details>
</div>