---
subtitle: Splatanas
layout: category-page
---

<div class="card-header">
  <div class="col"><b>Splatanas</b></div>
</div>

<div class="card-body">
  <details open>
    <summary><b>Show/hide</b></summary>
    <table class="table">
      {% include category-page/category-table-head.html %}
      <tbody>
      {% include category-page/category-row.html name="Order Splatana" damage="16" knockback="3" ink_usage="15" rarity="Blue" internal_name="OrderSplatana" image_uri="Splatana/OrderSplatana" %}
      {% include category-page/category-row.html name="Purified Splatana" damage="16" knockback="3" ink_usage="0" rarity="Orange" internal_name="ShimmerOrderSplatana" image_uri="Splatana/ShimmerOrderSplatana" %}
      {% include category-page/category-row.html name="Splatana Wiper" damage="30" knockback="4" ink_usage="8" rarity="Orange" internal_name="SplatanaWiper" image_uri="Splatana/SplatanaWiper" %}
      {% include category-page/category-row.html name="Zephyr Blade" damage="54" knockback="4" ink_usage="8" rarity="Orange" internal_name="SkySplatana" image_uri="Splatana/SkySplatana" %}
      {% include category-page/category-row.html name="Splatana Wiper Deco" damage="62" knockback="4" ink_usage="8" rarity="Pink" internal_name="SplatanaWiperDeco" image_uri="Splatana/SplatanaWiperDeco" %}
      {% include category-page/category-row.html name="Splatana Stamper" damage="125" knockback="5" ink_usage="10" rarity="Light Purple" internal_name="SplatanaStamper" image_uri="Splatana/SplatanaStamper" %}
      {% include category-page/category-row.html name="Sakura Blade" damage="180" knockback="6" ink_usage="8" rarity="Light Purple" internal_name="SkySplatanaB" image_uri="Splatana/SkySplatanaB" %}
      {% include category-page/category-row.html name="Kensa Splatana Stamper" damage="175" knockback="6" ink_usage="10" rarity="Lime" internal_name="KensaSplatanaStamper" image_uri="Splatana/KensaSplatanaStamper" %}
      {% include category-page/category-row.html name="Moray Claymore" damage="200" knockback="5" ink_usage="50" rarity="Yellow" internal_name="EelSplatana" image_uri="Splatana/EelSplatana" %}
      {% include category-page/category-row.html name="Sun Cleaver" damage="240" knockback="5" ink_usage="15" rarity="Yellow" internal_name="GolemSplatana" image_uri="Splatana/GolemSplatana" %}
      </tbody>
    </table>
  </details>
</div>