---
subtitle: Sub weapons
layout: category-page
---

<div class="card-header">
  <div class="col"><b>Sub weapons</b></div>
</div>

<div class="card-body">
  <details open>
    <summary><b>Show/hide</b></summary>
    <table class="table">
      {% include category-page/category-table-head.html %}
      <tbody>
      {% include category-page/category-row.html name="Sprinkler" damage="5" knockback="2" ink_usage="70" rarity="Blue" internal_name="Sprinkler" image_uri="Throwing/Sprinkler" %}
      {% include category-page/category-row.html name="Burst Bomb" damage="35" knockback="6" ink_usage="40" rarity="Blue" internal_name="BurstBomb" image_uri="Throwing/BurstBomb" %}
      {% include category-page/category-row.html name="Torpedo" damage="35" knockback="6" ink_usage="70" rarity="Blue" internal_name="Torpedo" image_uri="Throwing/Torpedo" %}
      {% include category-page/category-row.html name="Angle Shooter" damage="40" knockback="6" ink_usage="30" rarity="Blue" internal_name="AngleShooter" image_uri="Throwing/AngleShooter" %}
      {% include category-page/category-row.html name="Splat Bomb Jr." damage="40" knockback="6" ink_usage="70" rarity="Blue" internal_name="StarterSplatBomb" image_uri="Throwing/StarterSplatBomb" %}
      {% include category-page/category-row.html name="Ink Mine" damage="50" knockback="9" ink_usage="70" rarity="Blue" internal_name="InkMine" image_uri="Throwing/InkMine" %}
      {% include category-page/category-row.html name="Splat Bomb" damage="70" knockback="8" ink_usage="70" rarity="Blue" internal_name="SplatBomb" image_uri="Throwing/SplatBomb" %}
      </tbody>
    </table>
  </details>
</div>