<div class="card">
  <div class="row">
    <div class="col">
      <div class="card-header">
        <div class="col"><b>Items</b></div>
      </div>

      <div class="card-body">
        <table class="table">
          <tr class="tr-mod-items">
            {% include mod-item-nav-item.html name="Shooters" image_uri="Weapons/Shooters/Splattershot" category_uri="shooters" %}
            {% include mod-item-nav-item.html name="Rollers" image_uri="Weapons/Rollers/SplatRoller" category_uri="" %}
            {% include mod-item-nav-item.html name="Chargers" image_uri="Weapons/Chargers/SplatCharger" category_uri="" %}
          </tr>
          <tr class="tr-mod-items">
            {% include mod-item-nav-item.html name="Sloshers" image_uri="Weapons/Sloshers/Slosher" category_uri="" %}
            {% include mod-item-nav-item.html name="Splatlings" image_uri="Weapons/Splatling/MiniSplatling" category_uri="Splatling" %}
            {% include mod-item-nav-item.html name="Dualies" image_uri="Weapons/Dualies/SplatDualie" category_uri="" %}
          </tr>
          <tr class="tr-mod-items">
            {% include mod-item-nav-item.html name="Brellas" image_uri="Weapons/Brellas/SplatBrella" category_uri="" %}
            {% include mod-item-nav-item.html name="Blasters" image_uri="Weapons/Blasters/Blaster" category_uri="" %}
            {% include mod-item-nav-item.html name="Brushes" image_uri="Weapons/Brushes/Inkbrush" category_uri="" %}
          </tr>
          <tr class="tr-mod-items">
            {% include mod-item-nav-item.html name="Stringers" image_uri="Weapons/Bows/TriStringer" category_uri="Bows" %}
            {% include mod-item-nav-item.html name="Splatanas" image_uri="Weapons/Splatana/SplatanaWiper" category_uri="Splatana" %}
            {% include mod-item-nav-item.html name="Sub weapons" image_uri="Weapons/Throwing/SplatBomb" category_uri="Throwing" %}
          </tr>
          <tr class="tr-mod-items">
            {% include mod-item-nav-item.html name="Special weapons" image_uri="Weapons/Specials/Trizooka" category_uri="Specials" %}
            {% include mod-item-nav-item.html name="Accessories" image_uri="Accessories/MainWeaponBoosters/SquidClipOns" category_uri="Accessories" %}
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>