<div class="card">
  <div class="row">
    <div class="col">
      <div class="card-header">
        <div class="col"><b>Items</b></div>
      </div>

      <div class="card-body">
        <table class="table">
          <tr class="tr-mod-items">
            {% include mod-item-nav-item.html name="Shooters" image_uri="Shooters/Splattershot" category_uri="" %}
            {% include mod-item-nav-item.html name="Rollers" image_uri="Rollers/SplatRoller" category_uri="" %}
            {% include mod-item-nav-item.html name="Chargers" image_uri="Chargers/SplatCharger" category_uri="" %}
          </tr>
          <tr class="tr-mod-items">
            {% include mod-item-nav-item.html name="Sloshers" image_uri="Sloshers/Slosher" category_uri="" %}
            {% include mod-item-nav-item.html name="Splatlings" image_uri="Splatling/MiniSplatling" category_uri="Splatling" %}
            {% include mod-item-nav-item.html name="Dualies" image_uri="Dualies/SplatDualie" category_uri="" %}
          </tr>
          <tr class="tr-mod-items">
            {% include mod-item-nav-item.html name="Brellas" image_uri="Brellas/SplatBrella" category_uri="" %}
            {% include mod-item-nav-item.html name="Blasters" image_uri="Blasters/Blaster" category_uri="" %}
            {% include mod-item-nav-item.html name="Brushes" image_uri="Brushes/Inkbrush" category_uri="" %}
          </tr>
          <tr class="tr-mod-items">
            {% include mod-item-nav-item.html name="Stringers" image_uri="Bows/TriStringer" category_uri="Bows" %}
            {% include mod-item-nav-item.html name="Splatanas" image_uri="Splatana/SplatanaWiper" category_uri="Splatana" %}
            {% include mod-item-nav-item.html name="Sub weapons" image_uri="Throwing/SplatBomb" category_uri="Throwing" %}
          </tr>
          <tr class="tr-mod-items">
            {% include mod-item-nav-item.html name="Special weapons" image_uri="Specials/Trizooka" category_uri="Specials" %}
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>