---
---

q {
  color: black;
}

@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css";

$nav-link-normal: #ffffffb0;
$nav-link-hover: #ffffff;

h1 {
  font-size: 28px;
}

:root {
  --bs-body-bg: #302f35;
  --bs-secondary-color: #ffffff;
  font-family: "Oswald", Helvetica, Arial, sans-serif!important;
}

.my-text {
  color: var(--bs-primary-color);
}

.navbar {
  background: linear-gradient(-45deg, #a53a55, #3942c0);
  background-size: 400% 400%;
	animation: gradient 30s ease infinite;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-brand-hover-color: $nav-link-hover;
}

.navbar-brand, .navbar-brand:focus {
  color: $nav-link-normal;
}

.navbar-brand:hover {
  color: $nav-link-hover;
  text-shadow: $nav-link-normal 1px 0 10px;
}

.nav-link, .nav-link:focus {
  color: $nav-link-normal;
}

.nav-link:hover {
  color: $nav-link-hover;
  text-shadow: $nav-link-normal 1px 0 10px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.footer {
  color: $nav-link-normal;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: linear-gradient(-45deg, #a53a55, #3942c0);
  background-size: 400% 400%;
	animation: gradient 30s ease infinite;
}

table, th, td {
  border: 0px solid rgba(255, 255, 255, 0);
  border-collapse: collapse;
  text-align: center;
}

.tr-mod-items {
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  height: 80px;
}

.tr-mod-items:nth-child(even) {
  --bs-table-bg: var(--bs-card-cap-bg);
}